*{
    padding: 0em;
    margin: 0em;
}

html, body {
    font-size: 12pt;
    font-family: "Times New Roman", Times, serif;
    margin:auto;
}

/*
===================================
SEZIONE HEADER
===================================
*/

#coppe, #capitanim{
    display: none;
}

header {
    padding: 0em 1em;
    text-align: center;
    margin: 1em;
}

header h1 {
    content: url("../images/logo_fipav.svg");
    margin: auto;
    height: 3cm;
}