* {
    padding: 0em;
    margin: 0em;
}

:root {
    --bgcolor: #0365AE;
    --txtcolor: #FFF;
    --breadcolor: #163F77;
    --linkcolor: #FFF;
    --visitedcolor: #F3C42B;
    --newscolor: #F3C42B;
    --newstxtcolor: #000;
    --contentbgcolor: #FFF;
    --contexttxtcolor: #000;
}

html, body {
    font-size: 100%;
    font-family: "Lexend", "Roboto", sans-serif;
    line-height: 1.5em;
}

html {
    background-image:
        url("../images/palla.png"),
        url("../images/palla.png"),
        url("../images/palla.png"),
        linear-gradient(to bottom right, rgb(22 63 119/100%), transparent);

    background-repeat: no-repeat;
    background-position: top left, center right, bottom left;
    background-size: 5%, 5%, 5%, 100%;
}


body {
    background-color: var(--bgcolor);
    color: var(--txtcolor);
    max-width: 80%;
    margin: auto;
}

/*
===================================
SEZIONE HEADER
===================================
*/

header {
    padding: 0em 1em;
    text-align: center;
    margin: 1em;
}

header h1 {
    background-image: url("../images/logo_fipav.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999em;
    font-size: 6em;
    line-height: 1.5em;
    margin-top: 0.3em;
}

header h2 {
    font-size: 1.8em;
    margin-top: 1.5em;
    padding: 0.5em;
}

#coppe {
    width: 140px;
    float: left;
    background-color: white;
    padding: 1em;
    border: solid 1px black;
    margin-top: 1em;
    transform: rotate(-15deg);
    transition: 0.5s;
}

#capitani {
    width: 140px;
    float: right;
    background-color: white;
    padding: 1em;
    border: solid 1px black;
    margin-top: 2em;
    transform: rotate(15deg);
    transition: 0.5s;
}

#coppe:hover {
    transform: rotate(-20deg);
}

#capitani:hover {
    transform: rotate(20deg);
}


/*
===================================
SEZIONE MENU
===================================
*/

#menu {
    float: left;
    width: 18%;
    padding: 0.8em;
    font-size: 1.3em;

}

#menu a:link {
    color: var(--linkcolor);
}

#menu a:visited {
    color: var(--visitedcolor);
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    margin-top: 1.5em;
}

#currentLink {
    margin-left: 1.5em;
}

#currentLink::before{
    content: "";
    display: inline-block;
    background: url("../images/palla.png");
}

/*
===================================
SEZIONE MAIN
===================================
*/

main {
    margin-left: 20%;
    background-color: var(--contentbgcolor);
    color: var(--contexttxtcolor);
    padding-top: 2.0em;
    padding-left: 3.5em;
    padding-right: 2em;
    padding-bottom: 2em;
    border-left: 1px solid black;
    margin-right: 1em;
}

main h1 {
    text-align: center;
    line-height: 1.5em;
}

main h2 {
    text-align: center;
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.polaroid {
    width: 30%;
    float: right;
    background-color: white;
    padding: o.5em;
    border: solid 1px black;
    transform: rotate(-3deg);
}

main img {
    width: 100px;
}

aside {
    float: right;
}

.atleti>dt {
    color: var(--txtcolor);
    background-color: var(--breadcolor);
    margin-top: 3em;
}

.atleti>dd {
    border: solid 1px black;
    border-top: none;
    color: var(--contexttxtcolor);
}

.atleti>dd img {
    float: left;
    display: block;
    width: 18%;
    min-width: 85px;
}

.atleta dt {
    font-weight: bold;
    margin-inline-start: 2%;
}

.atleta dt:not(.riconoscimenti_tt) {
    float: left;
}

.riconoscimenti_tt{
    margin-left: 20%;
}

/* .giocatore dt {
    float: left;
}

.riconoscimenti {
    float: none;
} */

.atleta dt::after {
    content: ": ";
    margin-right: 0.5em;
}

.atleta dd {
    background-color: var(--contentbgcolor);
}

.riconoscimenti ul {
    list-style-type: none;
    margin-left: 22%;
}

.riconoscimenti li::before {
    content: '';
    background-image: url("../images/favicon.ico");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}

/* .riconoscimenti li {
    list-style-image: url();
} */

/*
===================================
SEZIONE NEWS
===================================
*/

#breakingNews {
    float: right;
    width: 18%;
    color: var(--txtcolor);
    background-color: var(--bgcolor);
    border: solid 1px black;
    padding: 0.5em;
    margin-right: 2%;
    margin-top: 1.0em;
}

#breakingNews h2 {
    font-size: 1.2em;
    background-color: var(--newscolor);
    color: var(--newstxtcolor);
    padding: 0.2em;
}

#breakingNews h2 dl dd {
    margin: 1.0em;
}

#breakingNews h2 dt {
    margin: 1.0em;
}


/*
===================================
SEZIONE BREADCRUMB
===================================
*/

#breadcrumb {
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    font-size: 1.1em;
    border: 1px solid #000;
    padding: 0.5em 0em 0.5em 1em;
}


/*
===================================
SEZIONE FOOTER
===================================
*/

footer {
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    text-align: center;
    font-size: 0.8em;
    border-top: 1px solid #000;
    padding: 0.5em;
}

footer img {
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 0.7em;
    vertical-align: middle;
}

footer p {
    display: inline;
    font-size: 0.8em;
    font-style: italic;
}